#intro {
  display: flex;
  justify-content: center;
  font-size: 70px;
  padding: 150px;
  color: darkslategrey;
}
#heartContainer {
  display: flex;
  justify-content: center;
  margin-top: -100px;
}
.heart {
  background-color: red;
  display: inline-block;
  height: 300px;
  margin: 200px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 300px;
  z-index: -3;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 300px;
  position: absolute;
  width: 300px;
  z-index: -2;
}

.heart:before {
  top: -150px;
  left: 0;
  z-index: -1;
  position: flex;
}

.heart:after {
  left: 150px;
  top: 0;
  z-index: -66;
  position: flex;
}
#container {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: stretch;
  color: darksalmon;
  font-size: 35px;
  text-align: center;
  border: 1px dotted cadetblue;
}
#keyCode {
  /* height: 50px; */
  font-size: 100px;
  color: cadetblue;
  z-index: 5;
  justify-content: center;
  /* padding-bottom: 380px; */
}

.labels {
  background-color: aquamarine;
  border: 1px solid cadetblue;
  padding: 5px;
  font-size: 40px;
  color: blanchedalmond;
}
#keyNumber {
  transform: rotate(45deg);
}
